<!DOCTYPE html>
<html>
<head xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>간단한 지도 표시하기</title>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=6qblc2qotm"></script>
</head>
<body>
    <div id="map" style="width:100%;height:400px;"></div>
    <script type="text/javascript" th:inline="javascript">
        function getLocation(){
            /*<![CDATA[*/
            var latitude = /*[[${latitude}]]*/;
            var longitude = /*[[${longitude}]]*/;
            var map = new naver.maps.Map('map', {
                center: new naver.maps.LatLng(latitude, longitude),
                zoom: 15
            });
            var tileSize = map.getMapType().tileSize.width;
            var projection = map.getProjection();
            var center = map.getCenter();
            var zoom = map.getZoom();
            var centerPixel = projection.fromCoordToPoint(center);
            var xPixel = Math.floor(projection.scaleUp(centerPixel.x, zoom));
            var yPixel = Math.floor(projection.scaleUp(centerPixel.y, zoom));
            var xIndex = Math.floor(xPixel / tileSize);
            var yIndex = Math.floor(yPixel / tileSize);
            var location = xIndex + ":" + yIndex;
            console.log(xIndex + ":" + yIndex);
            document.writeln(xIndex + ":" + yIndex);
            return xIndex + ":" + yIndex;
            /*]]>*/
        }
    </script>
</body>
</html>